# .github/workflows/xfr-target-multiarch.yml
name: xfr-target multi-arch build

on:
  push:
    branches: [ main ]
    paths:
      - "xfr-target/**"
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push xfr-target
        uses: docker/build-push-action@v6
        with:
          context: ./xfr-target
          file: ./xfr-target/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: jsuzanne/xfr-target:latest

